.btn.btn-download:hover {
  background-color: blue;
  color: white;
  font-size: 20px ;
  font-weight: bolder;
}
.btn.btn-download{
  background-color: salmon;
  font-size: 20px ;
  font-weight: bolder;
  color: white;
  border: unset;
  padding: 20px 40px;
  position: absolute;
  top:10px;
  right: 700px;
  border-radius: 30px;
}
/* 
#container {
  display: flex;
}

#chart, #legend {
  flex: 1;
} */
